.App {
  text-align: center;
}
h1 {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
  font-family: "OnePieceFont";
  font-size: 80px;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 0.05em;
}
